/* RESET SIMPLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  background-color: #33333339;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  transition: background-color 0.3s ease;
  border: #333 1px solid;
}

.nav-links .cart {
  background: linear-gradient(135deg, #ff5100, #f19c00);
  width: 80px;
  border-radius: 999px;
  display: flex;
  justify-content: space-around;
    border : none;
}

.nav-links .cart p {
  background-color: white;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  color: black;
  text-align: center;
}


.nav-links a {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.1;
  color: #ff470f;
}

.logo img{
  width: 30%;
  height: 100%;

}



/* HERO SECTION */
.hero {
  background: url('https://via.placeholder.com/1200x400') no-repeat center center/cover;
  color: white;
  text-align: center;
  padding: 5rem 2rem;
}

.cta-button {
  background-color: #ff5722;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5px;
}

/* PRODUITS */
.produits {
  padding: 2rem;
  text-align: center;
}

.produit-liste {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.produit {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
}

.produit img {
  width: 100%;
  border-radius: 8px;
}

/* Responsive Navbar */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    align-items: center;
  }

  .nav-links {
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
  }

  .nav-links li {
    margin: 0.5rem 0;
    margin-left: 10px;
  }
  
}
